htmls
argh==0.26.2
arrow==0.15.2
cssselect==1.1.0
Django==2.2.8
django-crispy-forms==1.7.2
django-dbdev==1.2.3
future==0.17.1
html5lib==1.0.1
htmls==1.0.0
ievv-opensource==6.0.0
lxml==4.4.1
model-mommy==1.6.0
pathtools==0.1.2
psutil==5.6.3
psycopg2==2.8.3
python-dateutil==2.8.0
pytz==2019.1
PyYAML==5.1.2
sh==1.12.14
six==1.12.0
sqlparse==0.3.0
termcolor==1.1.0
watchdog==0.9.0
webencodings==0.5.1
