{% extends 'atelier/template.html' %}
{% load i18n %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h3>{% trans 'Allowance/Discount list' %}:</h3>
                <button class="btn btn-sm btn-outline-secondary" type="button">
                    <a href="{% url 'atelier:allowance_discount_form' %}">{% trans 'Add the element' %}</a>
                </button>
                <br/>
                <br/>
                <div class="table-responsive">
                    {% if allowance_discount_list %}
                        <table class="table">
                            <thead>
                            <tr>
                                <th>{% trans 'Name' %}</th>
                                <th>{% trans 'Group' %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for allowance_discount in allowance_discount_list %}
                                <tr>
                                    <td>
                                        <a href="{{ allowance_discount.get_absolute_url }}">{{ allowance_discount.name }}
                                        </a></td>
                                    <td>{{ allowance_discount.label }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

