{% extends 'atelier/template.html' %}
{% load i18n %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h3>{% trans 'Allowance/Discount' %}:</h3>
             <button class="btn btn-sm btn-outline-secondary" type="button">
                    <a href="{% url 'atelier:allowance_discount_form' %}">{% trans 'Add the element' %}</a>
                </button>
                <br/><br/>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <td>{% trans 'Type' %}:</td>
                            <td>{{ allowance_discount.label }} </td>
                        </tr>
                        <tr>
                            <td>{% trans 'Coefficient' %}:</td>
                            <td>{{ allowance_discount.coefficient }}</td>
                        </tr>
                        <tr>
                            <td>{% trans 'Name' %}:</td>
                            <td>{{ allowance_discount.name }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <button class="btn btn-sm btn-outline-secondary" type="button">
                    <a href="{% url 'atelier:allowance_discount_update_form' pk=allowance_discount.pk %}">{% trans 'Edit' %}</a>
                </button>
                <button class="btn btn-sm btn-outline-secondary" type="button">
                    <a href="{% url 'atelier:allowance_discount_delete_form' pk=allowance_discount.pk %}">{% trans 'Delete' %}</a>
                </button>
            </div>
        </div>
    </div>
{% endblock %}
