{% extends 'atelier/template.html' %}
{% load i18n %}
{% block content %}
    <h1>{% trans 'Clients'%}:</h1>
    <p><a href="{% url 'atelier:client_form' %}">{% trans 'Add the client' %}</a></p>
    <br>
    {% if client_list %}

    <ul>
      {% for client in client_list %}
          <li>
              <strong>  <a href="{{ client.get_absolute_url }}">{{ client.first_name }} {{ client.last_name }}</a></strong>
          </li>
      {% endfor %}
    </ul>
    {% else %}
      <p>{% trans 'There is no one element in Atelier' %}</p>
    {% endif %}
{% endblock %}

