{% extends 'atelier/base.html' %}

{{% load crispy_forms_tags %}

**atelier/client_form.html**

{% block content %}
  <form method="post" novalidate>
    {% csrf_token %}
    <div class="row">
      <div class="col-6">
        {{ form.first_name|as_crispy_field }}
      </div>
      <div class="col-6">
        {{ form.last_name|as_crispy_field }}
      </div>
    </div>
    {{ form.tel_number|as_crispy_field }}
    {{ form.place|as_crispy_field }}
    <button type="submit" class="btn btn-success">Save person</button>
  </form>

{% endblock %}