{% extends 'atelier/template.html' %}
{% load i18n %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h3>{% trans 'Client' %}:</h3>
             <button class="btn btn-sm btn-outline-secondary" type="button">
                    <a href="{% url 'atelier:allowance_discount_form' %}">{% trans 'Add the client' %}</a>
                </button>
                <br/><br/>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <td>{% trans 'First Name' %}:</td>
                            <td>{{ client.first_name }} </td>
                        </tr>
                        <tr>
                            <td>{% trans 'Second Name' %}:</td>
                            <td>{{ client.last_name }}</td>
                        </tr>
                        <tr>
                            <td>{% trans 'Tel. number' %}:</td>
                            <td>{{ client.tel_number }}</td>
                        </tr>
                        <tr>
                            <td>{% trans 'Place' %}:</td>
                            <td>{{ client.place }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <button class="btn btn-sm btn-outline-secondary" type="button">
                    <a href="{% url 'atelier:client_update_form' pk=client.pk %}">{% trans 'Edit' %}</a>
                </button>
                <button class="btn btn-sm btn-outline-secondary" type="button">
                    <a href="{% url 'atelier:client_delete_form' pk=client.pk %}">{% trans 'Delete' %}</a>
                </button>
                <button class="btn btn-sm btn-outline-secondary" type="button">
                    <a href="{% url 'atelier:client_list' %}">{% trans 'Back to list' %}</a>
                </button>
            </div>
        </div>
    </div>
{% endblock %}
