{% extends 'atelier/template.html' %}
{% load i18n %}
{% block content %}
    <h1>{% trans 'Complication Elements' %}</h1>
    <p><a href="{% url 'atelier:complication_element_form' %}">{% trans 'Add the element' %}</a></p>
    <br>
    {% if complicationelement_list %}

    <ul>
      {% for complication_element in complicationelement_list %}
          <li>
              <strong>  <a href="{{ complication_element.get_absolute_url }}">{{ complication_element.name }}
                                 {{ complication_element.group }}</a></strong>
          </li>
      {% endfor %}
    </ul>
    {% else %}
      <p>{% trans 'There is no one element in Atelier' %}</p>
    {% endif %}
{% endblock %}

