{% extends 'atelier/generic_new.html' %}
{% load i18n %}
{% block content %}

    <h1>{% trans 'Complication Elements' %}</h1>

    <p><strong>{% trans 'Name' %}: </strong> {{ complicationelement.name }} </p>
    <p><strong>{% trans 'Base Price' %}:  </strong> {{ complicationelement.base_price }} </p>
    <p><strong>{% trans 'Complexity' %}: </strong> {{ complicationelement.complexity }}</p>
    <p><strong>{% trans 'Group' %}: </strong> {{ complicationelement.group }}</p>
    <p><a href="{% url 'atelier:complication_element_update_form' pk=complicationelement.pk %}">{% trans 'Edit' %}</a></p>
    <br>
    <p><a href="{% url 'atelier:complication_element_delete_form' pk=complicationelement.pk %}">{% trans 'Delete' %}</a></p>
{% endblock %}