{% extends 'atelier/generic_new.html' %}

{% block content %}
    <h1>Тканини</h1>
    <p><a href="{% url 'atelier:fabric_form' %}">Додати тканину</a></p>
    <br>
    {% if fabric_list %}

    <ul>
      {% for fabric in fabric_list %}
          <li>
              <strong>  <a href="{{ fabric.get_absolute_url }}">{{ fabric.name }}
                                 {{ fabric.group }}</a></strong>
          </li>
      {% endfor %}
    </ul>
    {% else %}
      <p>Немає жодної тканини в Ательє.</p>
    {% endif %}
{% endblock %}

