{% extends 'atelier/generic_new.html' %}
{% load i18n %}
{% block content %}
    <h1>{% trans 'Fabrics' %}</h1>

    <p><strong>{% trans 'Name' %}: </strong> {{ fabric.name }} </p>
    <p><strong>{% trans 'Complexity Factor' %}: </strong> {{ fabric.complexity_factor }}</p>
    <p><strong>{% trans 'Group' %}: </strong> {{ fabric.group }}</p>
    <p><a href="{% url 'atelier:fabric_update_form' pk=fabric.pk %}">{% trans 'Edit' %}</a></p>
    <br>
    <p><a href="{% url 'atelier:fabric_delete_form' pk=fabric.pk %}">{% trans 'Delete' %}</a></p>
{% endblock %}