{% extends 'atelier/template.html' %}
{% load i18n %}
{% block content %}
    <h2>{% trans 'Welcome to  Atelier application!' %}</h2>
    <p>{% trans 'Atelier is a simple, responsive application suitable for ateliers, tailors, design studios or small sewing business . It uses the best tailor practices, and on top of that, it’s fast, simple, and easy to use.' %}
        <br><strong>{% trans 'Atelier Is More Than A Program for calculations, It’s A Powerful Design Tool!' %}</strong>
    </p>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h3>{% trans 'Today statistic for' %} "{{ atelier }}":</h3>
                <div class="table-responsive">
                    <table class="table ">
                        <tbody>
                        <tr>
                            <td><a href="{% url 'atelier:product_list' %}">{% trans 'Products' %}</a></td>
                            <td>{{ num_products }}</td>
                        </tr>
                        <tr>
                            <td><a href="{% url 'atelier:client_list' %}">{% trans 'Clients' %}</a></td>
                            <td>{{ num_clients }}</td>
                        </tr>
                        <tr>
                            <td><a href="{% url 'atelier:order_list' %}">{% trans 'Orders' %}</a></td>
                            <td>{{ num_orders }}</td>
                        </tr>
                        {% if user.profile.is_tailor %}
                            <tr>
                                <td><a href="{% url 'atelier:profile_list' %}">{% trans 'Profiles' %}</a></td>
                                <td>{{ num_profiles_in_atelier }}</td>
                            </tr>
                        {% endif %}
                        {% if user.is_superuser %}
                            <tr>
                                <td><a href="{% url 'atelier:atelier_list' %}">{% trans 'Ateliers' %}</a></td>
                                <td>{{ num_ateliers }}</td>
                            </tr>
                            <tr>
                                <td><a href="{% url 'atelier:fabric_list' %}">{% trans 'Fabrics' %}</a></td>
                                <td>{{ num_fabrics }}</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="{% url 'atelier:allowance_discount_list' %}">{% trans 'Allowance/Discounts' %}</a>
                                </td>
                                <td>{{ num_allowance_discount }}</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="{% url 'atelier:complication_element_list' %}">{% trans 'Complication Elements' %}</a>
                                </td>
                                <td>{{ num_complication_element }}</td>
                            </tr>
                            <tr>
                                <td><a href="{% url 'atelier:minimal_style_list' %}">{% trans 'Minimal Styles' %}</a>
                                </td>
                                <td>{{ num_minimal_style }}</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <p><i class="fas fa-smile"></i></i>   {% trans 'You have visited this page' %}
        {{ num_visits }} {% if num_visits == 1 %} {% trans 'time' %}{% else %}{% trans 'times' %} {% endif %}.</p>
{% endblock %}
