{% extends 'atelier/template.html' %}
{% load i18n %}
{% load atelier_tags %}  {# give class name for testing (test_css_class) #}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h3>{% trans 'Minimal Style' %}:</h3>
                <button class="btn btn-sm btn-outline-secondary" type="button">
                    <a href="{% url 'atelier:minimal_style_form' %}">{% trans 'Add the Minimal Styles' %}</a>
                </button>
                <br/><br/>
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>{% trans 'Name' %}:</td>
                            <td class="{% test_css_class 'name' %}">{{ minimalstyle.name }} </td>
                        </tr>
                        <tr>
                            <td>{% trans 'Group' %}:</td>
                            <td class="{% test_css_class 'group' %}">{{ minimalstyle.group }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <button class="btn btn-sm btn-outline-secondary" type="button">
                    <a href="{% url 'atelier:minimal_style_update_form' pk=minimalstyle.pk %}">{% trans 'Edit' %}</a>
                </button>
                <button class="btn btn-sm btn-outline-secondary" type="button">
                    <a href="{% url 'atelier:minimal_style_delete_form' pk=minimalstyle.pk %}">{% trans 'Delete' %}</a>
                </button>
                <button class="btn btn-sm btn-outline-secondary" type="button">
                    <a href="{% url 'atelier:minimal_style_list' %}">{% trans 'Back to list' %}</a>
                </button>
            </div>
        </div>
    </div>
{% endblock %}
