{% extends 'atelier/template.html' %}
{% load i18n %}
{% block content %}

    <h1>{% trans 'Minimal Styles' %}:</h1>

    <p><strong>{% trans 'Name' %}: </strong> {{ minimalstyle.name }} </p>
    <p><strong>{% trans 'Group' %}: </strong> {{ minimalstyle.group }}</p>
    <p><a href="{% url 'atelier:minimal_style_update_form' pk=minimalstyle.pk %}">{% trans 'Edit' %}</a></p>
    <br>
    <p><a href="{% url 'atelier:minimal_style_delete_form' pk=minimalstyle.pk %}">{% trans 'Delete' %}</a></p>
{% endblock %}