{% extends 'atelier/generic_new.html' %}
{% load i18n %}
{% block content %}
    <h1>{% trans 'Minimal Styles' %}</h1>
    <p><a href="{% url 'atelier:minimal_style_form' %}">{% trans 'Add the element' %}</a></p>
        <br>
        {% if minimalstyle_list %}

            <ul>
                {% for minimal_style in minimalstyle_list %}
                    <li>
                        <strong> <a href="{{ minimal_style.get_absolute_url }}">{{ minimal_style.name }}
                            {{ minimal_style.group }}</a></strong>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>{% trans 'There is no one element in Atelier' %}</p>
        {% endif %}
{% endblock %}