{% extends 'atelier/template.html' %}
{% load i18n %}
{% load atelier_tags %}
{% load atelier_tags %}  {# give class name for testing (test_css_class) #}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3>{% trans 'Order' %}:</h3>
                <button class="btn btn-sm btn-outline-secondary" type="button">
                    <a href="{% url 'atelier:order_form' %}">{% trans 'Add the Order' %}</a>
                </button>
                <br/><br/>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <td>{% trans 'Client' %}:</td>
                            <td class="{% test_css_class 'client' %}">{{ order.client }} </td>
                        </tr>
                        <tr>
                            <td>{% trans 'Product' %}:</td>
                            <td class="{% test_css_class 'product' %}">{{ order.product }}</td>
                        </tr>
                        <tr>
                            <td>{% trans 'Fabric' %}:</td>
                            <td class="{% test_css_class 'fabric' %}">{{ order.fabric }}</td>
                        </tr>
                        <tr>
                            <td>{% trans 'Group of fabric' %}:</td>
                            <td class="{% test_css_class 'fabric_group' %}">{{ order.fabric.group }}</td>
                        </tr>
                        <tr>
                            <td>{% trans 'Processing category' %}:</td>
                            <td class="{% test_css_class 'category' %}">{{ order.processing_category }}</td>
                        </tr>
                        <tr>
                            <td>{% trans 'Complication Elements' %}:</td>
                            <td>
                                <ul>
                                    {% for complication_element in order.complication_elements.all %}
                                        <li class="{% test_css_class 'elements' %}"> {{ complication_element }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                        <tr>
                            <td>{% trans 'Allowance/Discount' %}:</td>
                            <td>
                                <ul>
                                    {% for allowance_discount in order.allowance_discount.all %}
                                        <li class="{% test_css_class 'discount' %}">{{ allowance_discount }}</li>
                                    {% endfor %}
                                </ul>

                            </td>
                        </tr>
                        <tr>
                            <td>{% trans 'Order Date' %}:</td>
                            <td class="{% test_css_class 'date' %}">{{ order.order_date|date:"l d F Y" }}</td> {# Formats a date according to the given format. #}
                        </tr>
                        <tr>
                            <td>{% trans 'Order Price' %}:</td>
                            <td>{{ order.order_price }} ₴ </td>     {#  from model @property #}
                        </tr>
{#                        <tr>#}
{#                            <td>{% trans 'Order Price' %}:</td>#}
{#                            <td>{{ order_price_view }} ₴ </td>      {#  from view #}
{#                        </tr>#}
{#                        <tr>#}
{#                            {% order_price_tag order as tag_order_price %}#}
{#                            <td>{% trans 'Order Price' %}:</td>#}
{#                            <td>{{ tag_order_price }} ₴ </td>     {#  from model temlatetag #}
{#                        </tr>#}
                        <tr>
                            <td>{% trans 'Performer' %}:</td>
                            <td class="{% test_css_class 'performer' %}">{{ order.performer }}</td>
                        </tr>
                        <tr>
                            <td>{% trans 'deadline' %}:</td>
                            <td class="{% test_css_class 'deadline' %}">{{ order.deadline }}</td>
                        </tr>
                        <tr>
                            <td>{% trans 'Closed' %}:</td>
                            <td class="{% test_css_class 'closed' %}">{{ order.is_closed|yesno:"Yes,No" }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <button class="btn btn-sm btn-outline-secondary" type="button">
                    <a href="{% url 'atelier:order_update_form' pk=order.pk %}">{% trans 'Edit' %}</a>
                </button>
                <button class="btn btn-sm btn-outline-secondary" type="button">
                    <a href="{% url 'atelier:order_delete_form' pk=order.pk %}">{% trans 'Delete' %}</a>
                </button>
                <button class="btn btn-sm btn-outline-secondary" type="button">
                    <a href="{% url 'atelier:order_list' %}">{% trans 'Back to list' %}</a>
                </button>
            </div>
        </div>
    </div>
{% endblock %}

