{% extends 'atelier/template.html' %}
{% load i18n %}
{{% load crispy_forms_tags %}

**atelier/order_form.html**

{% block content %}
    <h3>{% trans 'Order' %}:</h3>
    <form method="post" novalidate>
        {% csrf_token %}
        <div class="row">
            <div class="col-6">
                {{ form.client|as_crispy_field }}
            </div>
            <div class="col-6">
                {{ form.product|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                {{ form.fabric|as_crispy_field }}
            </div>
            <div class="col-6">
                {{ form.processing_category|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <p>{% trans 'Complication Element' %}:</p>
                <div class="checkbox_multiple">
                    {{ form.complication_elements }}
                </div>
            </div>
            <div class="col-6">
                <p>{% trans 'Allowance/Discount' %}:</p>
                <div class="checkbox_multiple">
                    {{ form.allowance_discount }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                {{ form.order_date|as_crispy_field }}
            </div>
            <div class="col-4">
                {{ form.deadline|as_crispy_field }}
            </div>
            <div class="col-6">
                {{ form.performer|as_crispy_field }}
            </div>
        </div>
        {{ form.is_closed|as_crispy_field }}
        <button type="submit" class="btn btn-success">{% trans 'Save' %}</button>
    </form>
{% endblock %}