{% extends 'atelier/template.html' %}
{% load i18n %}
{% block content %}
    <h1>{% trans 'Orders' %}</h1>
    <p><a href="{% url 'atelier:order_form' %}">{% trans 'Create Order' %}</a></p>
    <br>

    {% if order_list %}
        <ul>
            <!-- my comment: filtered dictionary by date -->
            {% for order in order_list|dictsort:"order_date" %}
                <li>
                    <strong> <a
                            href="{{ order.get_absolute_url }}">{{ order.product }} {{ order.order_date }} {{ order.client }}</a></strong>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>{% trans 'There is no one element in Atelier' %}</p>
    {% endif %}
    <p> AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
<p> AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
<p> AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
<p> AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
<p> AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
<p> AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
<p> AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
<p> AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
<p> AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
<p> AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
<p> AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
<p> AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
<p> AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
<p> AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
<p> AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
<p> AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
<p> AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
<p> AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
<p> AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
<p> AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
<p> AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
<p> AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
<p> AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
<p> AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
<p> AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
<p> AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
<p> AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
<p> AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
<p> AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
<p> AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
<p> AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
<p> AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
<p> AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
<p> AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
<p> AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
<p> AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
<p> AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
<p> AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
<p> AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
<p> AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
<p> AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
<p> AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
<p> AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
<p> AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
<p> AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
<p> AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
<p> AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
<p> AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
<p> AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
<p> AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
<p> AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
<p> AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
<p> AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>

{% endblock %}

