{% extends 'atelier/template.html' %}
{% load i18n %}
{% block content %}
    <h1>{% trans 'Products' %}</h1>
    <p><a href="{% url 'atelier:product_form' %}">{% trans 'Create Product' %}</a></p>
    <br>


    {% if product_list %}
        <ul>
            {% for product in product_list %}
                <li>
                    <strong> <a href="{{ product.get_absolute_url }}">{{ product.name }}</a></strong>
                    ({% trans 'Base Price' %}: {{ product.base_price }})
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>{% trans 'There is no one element in Atelier' %}</p>
    {% endif %}
{% endblock %}

