{% extends 'atelier/template.html' %}
{% load i18n %}
{% load atelier_tags %}  {# give class name for testing (test_css_class) #}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h3>{% trans 'Product' %}:</h3>
             <button class="btn btn-sm btn-outline-secondary" type="button">
                    <a href="{% url 'atelier:product_form' %}">{% trans 'Add the element' %}</a>
                </button>
                <br/><br/>
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>{% trans 'Name' %}:</td>
                            <td class="{% test_css_class 'name' %}">{{ product.name }}</td>
                        </tr>
                        <tr>
                            <td>{% trans 'Minimal Style' %}:</td>
                            <td class="{% test_css_class 'minimal_style' %}">{{ product.minimal_style.group }}</td>
                        </tr>
                        <tr>
                            <td>{% trans 'Base Price' %}:</td>
                            <td class="{% test_css_class 'base_price' %}">{{ product.base_price }} ₴</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <button class="btn btn-sm btn-outline-secondary" type="button">
                    <a href="{% url 'atelier:product_update_form' pk=product.pk %}">{% trans 'Edit' %}</a>
                </button>
                <button class="btn btn-sm btn-outline-secondary" type="button">
                    <a href="{% url 'atelier:product_delete_form' pk=product.pk %}">{% trans 'Delete' %}</a>
                </button>
                <button class="btn btn-sm btn-outline-secondary" type="button">
                    <a href="{% url 'atelier:product_list' %}">{% trans 'Back to list' %}</a>
                </button>
            </div>
        </div>
    </div>
{% endblock %}
