{% extends 'atelier/template.html' %}
{% load i18n %}
{% block content %}

    <h1>{% trans 'Product' %}: {{ product.name }}</h1>

    <p><strong>{% trans 'Base Price' %}:</strong> {{ product.base_price }} грн.</p>
    <p><strong>{% trans 'Minimal Style' %}:</strong> {{ product.minimal_style.group }}</p>
    <p>
        <a href="{% url 'atelier:product_detail' pk=product.minimal_style.pk %}">{% trans 'Minimal Style description' %}</a>
    </p>

    <p><a href="{% url 'atelier:product_update_form' pk=product.pk %}">{% trans 'Edit' %}</a></p>
    <br>
    <p><a href="{% url 'atelier:product_delete_form' pk=product.pk %}">{% trans 'Delete' %}</a></p>
{% endblock %}