{% extends 'atelier/template.html' %}
{% load i18n %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h3>{% trans 'Product list' %}:</h3>
                {% if user.profile.is_tailor %}
                    <button class="btn btn-sm btn-outline-secondary" type="button">
                        <a href="{% url 'atelier:product_form' %}">{% trans 'Add the Product' %}</a>
                    </button>
                {% endif %}
                <br/>
                <br/>
                <div class="table-responsive">
                    {% if product_list %}
                        <table class="table">
                            <thead>
                            <tr>
                                <th>{% trans 'Product' %}</th>
                                <th>{% trans 'Base Price' %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for product in product_list %}
                                <tr>
                                    <td style="width:70%"><a
                                            href="{{ product.get_absolute_url }}">{{ product.name }} </a></td>
                                    <td style="width:30%"><a
                                            href="{{ product.get_absolute_url }}">{{ product.base_price }}</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>{% trans 'There is no one element in Atelier' %}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
