{% extends 'atelier/generic_new.html' %}

{% block content %}

    <h1>Виріб: {{ product.name }}</h1>

    <p><strong>Базова ціна:</strong> {{ product.base_price }} грн.</p>
    <p><strong>Мінімальний фасон:</strong> {{ product.minimal_style.group }}</p>
{#    <p><a href="{% url 'atelier:product.minimal_style.name' pk=product.pk %}">Опис мінімального фасону</a></p>#}

    <p><a href="{% url 'atelier:product_update_form' pk=product.pk %}">Редагувати</a></p>
    <br>
    <p><a href="{% url 'atelier:product_delete_form' pk=product.pk %}">Видалити</a></p>
{% endblock %}