{% extends 'atelier/template.html' %}
{% load i18n %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h3>{% trans 'Profile' %}:</h3>
                <button class="btn btn-sm btn-outline-secondary" type="button">
                    <a href="{% url 'atelier:profile_form' %}">{% trans 'Add the element' %}</a>
                </button>
                <br/><br/>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <td>{% trans 'Name' %}:</td>
                            <td>{{ profile.username }}</td>
                        </tr>
                        <tr>
                            <td>{% trans 'User' %}:</td>
                            <td>{{ profile.user }}</td>
                        </tr>
                        <tr>
                            <td>{% trans 'Atelier' %}:</td>
                            <td>{{ profile.atelier }} </td>
                        </tr>
                        <tr>
                            <td>{% trans 'Profile' %}:</td>
                        {% if profile.is_tailor %}
                                <td>{% trans 'tailor' %} </td>
{#                        {% elif profile.is_seamstress %}#}
{#                                <td>{% trans 'seamstress' %} </td>#}
                        {% else %}
                                <td>{% trans 'simple profile' %} </td>
                        {% endif %}
                        </tr>
                        </tbody>
                    </table>
                </div>
                <button class="btn btn-sm btn-outline-secondary" type="button">
                    <a href="{% url 'atelier:profile_update_form' pk=product.pk %}">{% trans 'Edit' %}</a>
                </button>
                <button class="btn btn-sm btn-outline-secondary" type="button">
                    <a href="{% url 'atelier:profile_delete_form' pk=product.pk %}">{% trans 'Delete' %}</a>
                </button>
                <button class="btn btn-sm btn-outline-secondary" type="button">
                    <a href="{% url 'atelier:profile_list' %}">{% trans 'Back to list' %}</a>
                </button>
            </div>
        </div>
    </div>
{% endblock %}
