{% extends 'atelier/template.html' %}
{% load i18n %}
{% load atelier_tags %}  {# give class name for testing (test_css_class) #}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h3>{% trans 'Profile' %}:</h3>
                <button class="btn btn-sm btn-outline-secondary" type="button">
                    <a href="{% url 'atelier:profile_form' %}">{% trans 'Add the Profile' %}</a>
                </button>
                <br/><br/>
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>{% trans 'User' %}:</td>
                            <td class="{% test_css_class 'user' %}">{{ profile.user }}</td>
                        </tr>
                        <tr>
                            <td>{% trans 'Atelier' %}:</td>
                            <td class="{% test_css_class 'atelier' %}">{{ profile.atelier }} </td>
                        </tr>
                        <tr>
                            <td>{% trans 'Profile' %}:</td>
                        {% if profile.is_tailor %}
                                <td class="{% test_css_class 'is_tailor' %}">{% trans 'tailor' %} </td>
                        {% else %}
                                <td class="{% test_css_class 'is_tailor' %}">{% trans 'simple profile' %} </td>
                        {% endif %}
                        </tr>
                        </tbody>
                    </table>
                </div>
                <button class="btn btn-sm btn-outline-secondary" type="button">
                    <a href="{% url 'atelier:profile_update_form' pk=profile.pk %}">{% trans 'Edit' %}</a>
                </button>
                <button class="btn btn-sm btn-outline-secondary" type="button">
                    <a href="{% url 'atelier:profile_delete_form' pk=profile.pk %}">{% trans 'Delete' %}</a>
                </button>
                <button class="btn btn-sm btn-outline-secondary" type="button">
                    <a href="{% url 'atelier:profile_list' %}">{% trans 'Back to list' %}</a>
                </button>
            </div>
        </div>
    </div>
{% endblock %}
